[submodule "crawlers/substack_skill"]
	path = crawlers/substack_skill
	url = https://github.com/LeXrLt/substack_skill.git
[submodule "crawlers/wechat_reptile_skill"]
	path = crawlers/wechat_reptile_skill
	url = https://github.com/lugit123456/wechat_reptile_skill
[submodule "crawlers/sec_skill"]
	path = crawlers/sec_skill
	url = https://github.com/LeXrLt/sec_skill.git
[submodule "crawlers/youtube_skill"]
	path = crawlers/youtube_skill
	url = https://github.com/LeXrLt/youtube_skill.git
[submodule "crawlers/cninfo_skill"]
	path = crawlers/cninfo_skill
	url = https://github.com/LeXrLt/cninfo_skill.git
