[submodule "crawlers/substack_skill"]
	path = crawlers/substack_skill
	url = https://github.com/LeXrLt/substack_skill.git
[submodule "crawlers/by_luzhe"]
	path = crawlers/by_luzhe
	url = https://github.com/lugit123456/skills.git
[submodule "crawlers/sec_skill"]
	path = crawlers/sec_skill
	url = https://github.com/LeXrLt/sec_skill.git
