[submodule "crawlers/substack_skill"]
	path = crawlers/substack_skill
	url = https://github.com/LeXrLt/substack_skill.git
[submodule "crawlers/wechat_reptile_skill"]
	path = crawlers/wechat_reptile_skill
	url = https://github.com/lugit123456/wechat_reptile_skill.git
[submodule "crawlers/sec_skill"]
	path = crawlers/sec_skill
	url = https://github.com/LeXrLt/sec_skill.git
[submodule "crawlers/youtube_skill"]
	path = crawlers/youtube_skill
	url = https://github.com/LeXrLt/youtube_skill.git
[submodule "crawlers/cninfo_skill"]
	path = crawlers/cninfo_skill
	url = https://github.com/LeXrLt/cninfo_skill.git
[submodule "crawlers/xueqiu_skill"]
	path = crawlers/xueqiu_skill
	url = https://github.com/lugit123456/xueqiu_skill.git
[submodule "crawlers/alphapai_reptile_skill"]
	path = crawlers/alphapai_reptile_skill
	url = https://github.com/lugit123456/alphapai_reptile_skill.git
[submodule "crawlers/xiaoeknow_downloader_skill"]
	path = crawlers/xiaoeknow_downloader_skill
	url = https://github.com/lugit123456/xiaoeknow_downloader_skill.git
